<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Project title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <th scope="row">{{ project.id }}</th>
      <th scope="row">{{ project.title }}</th>
    </tr>
  </tbody>
</table>
