<div style="padding-top:5%">
    <div class="row">
            <p>{{ error }}</p>
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Username</label>
			      <div class="controls">
			        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="login_cred">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password_cred">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
                    <br>
			      <div class="controls">
			        <button class="btn btn-success" (click)="login()">Login</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
	</div>
</div>
