h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.bubble {
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    top: 0;
}
