<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">CVART</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Projects</a>
                    </li>
                    <li>
                        <a href="">Employees</a>
                    </li>
                    <li>
                        <a href="">Customers</a>
                    </li>
                    <li>
                        <a href="">Skills</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item active"><b>Project list</b></li>
                <li class="list-group-item" *ngFor="let project of projects">{{ project.title }}</li>
            </ul>
        </div>
        <div class="col-sm-6"><router-outlet></router-outlet></div>
        <div class="col-sm-4"></div>
    </div>
</div>
